<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar menú</title>
</head>
<body>
    <h1>Ítems del Menú</h1>

    <table border="1">
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Tipo</th>
        </tr>
        <tr th:each="item : ${items}">
            <td th:text="${item.nombre}"></td>
            <td th:text="${item.precio}"></td>
            <td th:text="${item.tipo}"></td>
        </tr>
    </table>

    <a th:href="@{/restaurante/menu}">Volver al menú principal</a>
</body>
</html>